@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At My ePortfolio, the privacy of our visitors is of extreme importance to us. 
This Privacy Policy document outlines the types of personal information that are received 
and collected by My ePortfolio and how it is used.</p>